# All the crap Ubuntu has by default
dconf
enchant
evolution
gedit
gnome-initial-setup-done
gnome-session
goa-1.0
.gsd-keyboard.settings-ported
gtk-3.0
ibus
nautilus
pulse
update-notifier
user-dirs.dirs
user-dirs.locale

# ZSH completion file, should go to cache but doesn't reliably
zsh/.zcompdump

# MacOS Stuff
configstore
## ZSH session file that MacOS creates from ReactNative things
zsh/.zsh_sessions

# Tools that shouldn't be saved
htop
aws
ada

# Tools that maybe shouldn't be saved (unsure).
#
# `cups/lpoptions` shouldn't as it provides the default printer
# which depends on computer and `fontforge/plugin/plugin_config.ini`
# is empty.
cups
fontforge

# Custom Tools
brazil
cr
kata

# NeoVim Spelling
nvim/spell

# Node/Npm
node
npm
