[submodule "powerlevel10k"]
	path = zsh/plugin/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
[submodule "zsh-completions"]
	path = zsh/plugin/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	shallow = true
[submodule "zsh-syntax-highlighting"]
	path = zsh/plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	shallow = true
[submodule "zsh-completion-generator"]
	path = zsh/plugin/zsh-completion-generator
	url = https://github.com/RobSis/zsh-completion-generator.git
	shallow = true
[submodule "zsh-autosuggestions"]
	path = zsh/plugin/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	shallow = true
[submodule "fzf-tab"]
	path = zsh/plugin/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
	shallow = true
[submodule "z"]
	path = zsh/plugin/z
	url = https://github.com/rupa/z.git
	shallow = true
[submodule "zsh/plugin/fzf-tab-completion"]
	path = zsh/plugin/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion
	shallow = true
