# All the crap Ubuntu has by default
dconf
enchant
evolution
gedit
gnome-initial-setup-done
gnome-session
goa-1.0
.gsd-keyboard.settings-ported
gtk-3.0
ibus
nautilus
pulse
update-notifier
user-dirs.dirs
user-dirs.locale
