# All the crap Ubuntu has by default
dconf
enchant
evolution
gedit
gnome-initial-setup-done
gnome-session
goa-1.0
.gsd-keyboard.settings-ported
gtk-3.0
ibus
nautilus
pulse
update-notifier
user-dirs.dirs
user-dirs.locale

# ZSH completion file, should go to cache but doesn't reliably
zsh/.zcompdump

# Node Conqueror of Completion, replace with lsp eventually
coc

# MacOS Stuff
configstore

# Don't know if I want to save.
htop
aws

# Custom Tools
brazil
cr

# NeoVim Spelling
nvim/spell

# Node/Npm
node
npm
